/**
 * @name midnight + catppuccin frappe
 * @description idk i got bored.
 * @author tiva
 * @version 1.0.0
 * @invite solarisfn
 * @source https://raw.githubusercontent.com/Tiva-org/theme/main/theme.css
 * @authorId 942494965219610717
*/
@import url('https://raw.githubusercontent.com/Tiva-org/theme/main/theme.css');

:root {
	--font: 'figtree';
	--dnd-indicator: hsl(340, 60%, 60%); 
	--idle-indicator: hsl(50, 60%, 60%); 
	--streaming-indicator: hsl(260, 60%, 60%); 
	--accent-1: hsl(190, 70%, 60%);
	--accent-2: hsl(190, 70%, 48%); 
	--accent-3: hsl(190, 70%, 42%); 
	--accent-4: hsl(190, 70%, 36%); 
	--accent-5: hsl(190, 70%, 30%); 
	--mention: hsla(190, 80%, 52%, 0.1); 
	--mention-hover: hsla(190, 80%, 52%, 0.05); 
	--text-0: white; 
	--text-1: var(--text-2);
	--text-2: hsl(220, 25%, 70%);
	--text-3: hsl(220, 15%, 60%); 
	--text-4: hsl(220, 15%, 40%);
	--text-5: hsl(220, 15%, 25%); 
	--bg-1: hsl(220, 15%, 20%); 
	--bg-2: hsl(220, 15%, 16%); 
	--bg-3: hsl(220, 15%, 13%); 
	--bg-4: hsl(220, 15%, 10%); 
	--hover: hsla(230, 20%, 40%, 0.1); 
	--active: hsla(220, 20%, 40%, 0.2); 
	--message-hover: hsla(220, 0%, 0%, 0.1); 
	--spacing: 12px;
	--list-item-transition: 0.2s ease; 
	--unread-bar-transition: 0.2s ease; 
	--roundness-xl: 22px; 
	--roundness-l: 20px; 
	--roundness-m: 16px;
	--roundness-s: 12px; 
	--roundness-xs: 10px; 
	--roundness-xxs: 8px; 
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); 
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); 
}
